MAX_WORKERS=10
# DATABASE_URL= for local dev only, not need for prod or testing
INSTANCE_CONNECTION_NAME="db connection"
DB_USER="strr" # for production expects a ServiceAccount
DB_NAME="strr"
STRR_SERVICE_ACCOUNT_CLIENT_ID="client_id"
STRR_SERVICE_ACCOUNT_SECRET="client_secret"
KEYCLOAK_AUTH_TOKEN_URL="token_url"
AUTH_SVC_TIMEOUT="20"
NOTIFY_API_TIMEOUT=10"
NOTIFY_API_URL ="notify_url"
NOTIFY_API_VERSION ="/api/v1"