{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "max-len": [
      "warn",
      { "code": 120, "ignoreRegExpLiterals": true, "ignoreTrailingComments": true }
    ],
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "allow-parens": "off",
    "vue/multi-word-component-names": "off",
    "vue/use-v-on-exact": "off",
    "tailwindcss/no-custom-classname": ["warn", {
      "whitelist": [
        "app-body",
        "app-container",
        "app-inner-container",
        "connect-date-picker",
        "connect-date-picker__err",
        "prose-bcGov",
        "max-w-bcGovInput"
      ]
    }],
    "no-use-before-define": "off"
  },
  "plugins": ["tailwindcss"],
  "ignorePatterns": ["**/*.md"]
}
