# Base URL of the STRR API used as the target for stress tests
STRR_API_URL=
# Account ID of the user that will be used to perform API requests (submit application, etc)
ACCOUNT_ID=
# IDIR Account ID of the user that will be used to perform API requests
IDIR_ACCOUNT_ID=
# Bearer access token for authorizing API requests (could be obtained from /token response in UI)
ACCESS_TOKEN=
